@model WebShop.Models.Category

@{
    ViewData["Title"] = "Delete";
}

<h1 class="text-center">Xóa</h1>

<h3 class="alert-danger">Bạn có chắc chắn muốn xóa danh mục sản phẩm này?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CategoryName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CategoryName)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <div class="row">
            <div class="col-sm">
                <a asp-action="Index" class="no_underline"><i class="fas fa-arrow-left"></i> Về trang quản lý</a>
            </div>
            <div class="col-sm text-end">
                <input type="hidden" asp-for="CategoryId" />
                <input type="submit" value="Xóa" class="btn btn-danger" />
            </div>
        </div>
    </form>
</div>
