@model WebShop.Models.Category

@{
    ViewData["Title"] = "Details";
}

<h1 class="text-center">Chi tiết danh mục sản phẩm</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CategoryName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CategoryName)
        </dd>
    </dl>
</div>
<div>
    <div class="row">
        <div class="col-sm">
            <a asp-action="Index" class="no_underline"><i class="fas fa-arrow-left"></i> Về trang quản lý</a>
        </div>
        <div class="col-sm text-end">
            <a class="btn btn-success" asp-action="Edit" asp-route-id="@Model.CategoryId">Chỉnh sửa</a>
        </div>
    </div>
</div>
