@model WebShop.Models.Provider

@{
    ViewData["Title"] = "Create";
}

<h1 class="text-center">Thêm nhà cung cấp</h1>

<h4>Thông tin nhà cung cấp</h4>
<hr />
<div class="row">
    <div class="col-sm"></div>
    <div class="col-sm">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ProviderName" class="control-label"></label>
                <input asp-for="ProviderName" class="form-control" />
                <span asp-validation-for="ProviderName" class="text-danger"></span>
            </div>
            <div class="form-group text-center">
                <input type="submit" value="Thêm" class="btn btn-primary" />
            </div>
        </form>
    </div>
    <div class="col-sm"></div>
</div>

<div>
    <a asp-action="Index" class="no_underline"><i class="fas fa-arrow-left"></i> Về trang quản lý</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
