@{
    ViewData["Title"] = "Thông tin liên hệ";
}
<h1>@ViewData["Title"]</h1>

<p>Master Duel Store được phát triển bởi Cao Hoàng Minh</p>
<p>MSSV: DTH185314 - Lớp: 19TH2</p>
<p>Email: chminh_19th2@student.agu.edu.vn</p>

<img src="~/images/logo.jpg" width="30%"/>
