@model WebShop.Models.User

@{
    ViewData["Title"] = "Create";
}

<h1>Đăng ký tài khoản</h1>

<hr />
<div class="d-flex justify-content-center">
    <form asp-action="Create" class="div_login">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="FullName" class="control-label"></label>
            <input asp-for="FullName" class="form-control" />
            <span asp-validation-for="FullName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Email" class="control-label"></label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Phone" class="control-label"></label>
            <input asp-for="Phone" class="form-control" />
            <span asp-validation-for="Phone" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="UserName" class="control-label"></label>
            <input asp-for="UserName" class="form-control" />
            <span asp-validation-for="UserName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Password" class="control-label"></label>
            <input asp-for="Password" type="password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label class="control-label" for="validate_password">Xác thực mật khẩu</label>
            <input type="password" id="validate_password" class="form-control" />
            <span class="text-danger" id="alert_vali_pass" hidden>Mật khẩu xác thực không đúng!</span>
        </div>
        <div class="form-group text-center">
            <input type="submit" value="Đăng ký" id="btn_submit" class="btn btn-primary" />
        </div>
    </form>
</div>

<div>
    <a asp-controller="Home" asp-action="Index">< Trở về</a>
</div>

<script>
    function ValidatePassword() {
        var pass = document.getElementById("Password").value;
        var vali_pass = document.getElementById("validate_password").value;
        
        if (pass != vali_pass && vali_pass != "") {
            document.getElementById("btn_submit").setAttribute("disabled", true);
            document.getElementById("alert_vali_pass").removeAttribute("hidden");
        }
        else {
            document.getElementById("btn_submit").removeAttribute("disabled");
            document.getElementById("alert_vali_pass").setAttribute("hidden",true);
        }
    }

    this.onload = function () {
        document.getElementById("validate_password").addEventListener("input", ValidatePassword);
    }
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
