@model WebShop.Models.User

@{
    ViewData["Title"] = "Đăng nhập";
    string er = ViewBag.Error;
}

<h1>Đăng nhập</h1>

<hr />
<div class="d-flex justify-content-center">
    <form asp-action="ActionLogin" class="div_login">
        <div class="form-group">
            <label asp-for="UserName" class="control-label"></label>
            <input asp-for="UserName" class="form-control" />
            <span asp-validation-for="UserName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Password" class="control-label"></label>
            <input asp-for="Password" type="password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        @if (er != null)
        {
            <div class="alert-danger text-center rounded form-group"><span>@ViewBag.Error</span></div>
        }
        <div class="form-group text-center">
            <input type="submit" value="Đăng nhập" class="btn btn-primary" />
        </div>
    </form>
</div>


<div>
    <a asp-controller="Home" asp-action="Index">< Trở về</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
